body {
  margin: 0;
  /* width: 100vw;
  height: 100vh; */
}

:root {
  font-family: Onest, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
li {
  list-style-type: none;
}
input {
  border: none;
  font-size: 16px;
  font-family: Onest;
  box-sizing: border-box;
}
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-image: url('/svg/xIcon.svg');
  background-size: cover;
  cursor: pointer;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #98a5bd;
  font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
  /* -webkit-box-shadow: 0 0 0px 40rem #ffff inset; */
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 700ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
@keyframes ripple {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.react-datepicker {
  font-family: Onest;
}
.react-datepicker.customCalendar,
.react-datepicker__month-container,
.react-datepicker__week {
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
}
.react-datepicker__header {
  background-color: transparent;
  border: none;
}
.react-datepicker__navigation--next {
  right: 10px;
}
.react-datepicker__navigation--previous {
  left: 10px;
}
.react-datepicker__current-month {
  font-family: Onest;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.react-datepicker__day-names {
  display: none;
}
.react-datepicker__month,
.react-datepicker__week {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.react-datepicker__month-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}
.react-datepicker__day {
  font-family: Onest;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  width: 14.3%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  border-radius: 50%;
}
.react-datepicker__day--in-range:hover {
  border: none;
  border-radius: 0;
}
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.react-datepicker__day--range-start,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-start:hover,
.react-datepicker__day--range-start:hover {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.react-datepicker__day--range-end,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--selecting-range-end:hover,
.react-datepicker__day--range-end:hover {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#loader {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 620px) {
  #hde-container {
    inset: unset !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    top: -15px !important;
    left: auto !important;
    right: -15px !important;
  }

}


.side__btn {
  transition: all 200ms ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

.cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 16px;
  width: 100%;
  padding: 0;
}

.card {
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  background: none;
  border: 0.4px solid black;
  height: 280px;
  width: 100%;
  z-index: 5;
  background-color: black;
  overflow: hidden;
  &:hover {
    & .card__image {
      transition: all 350ms ease-in-out;
      transform: scale(1.1);
      opacity: 0.7;
    }
    & h2 {
      transition: all 290ms ease-in-out;
      font-size: 42px;
    }

    

  }

  & h2 {
    position: relative;
    font-size: 36px;
    color: white;
    z-index: 5;

  }
  & p {
    display: none;
  }
}
.card__image {
  position: absolute;
  border-radius: 12px;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}


.card__image::before {
  position: absolute;
  z-index: 2;
  top: 0;
  border-radius: 12px;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.204);
  width: 100%;
  height: 100%;
}

.btn {
  font-weight: 600;
  outline: none;
  border: none;
  background: #005fff;
  color: white;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  &:hover {
    opacity: 0.85;
  }
}

.btn--white {
  font-weight: 600;
  outline: none;
  border: none;
  background: white;
  color: #005fff;
  border: 1.4px solid transparent;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  &:hover {
    /* opacity: 0.85; */
    border: 1.4px solid white;
    color: white;
    background: #0e61f2;
  }
}

.country__name {
  font-size: 36px;
}

.country__desc {
  font-size: 18px;
}

.country__cover {
  width: min(42%, 540px);
  object-fit: cover;
}

.country__head {
  display: flex;
}

.country__events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  padding-right: 40px;
}

.event__btn {
  position: relative;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 22px;
}

.event__image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
}

.btn--gray {
  background-color: #636a76;
}

.event__date {
  font-weight: 600;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 8px 12px;
  border-radius: 24px;
  top: 10px;
  right: 20px;
}

.event__name {
  font-size: 20px;
}

.event__desc {
  font-size: 15.4px;
  line-height: 1.2;
}

@media screen and (max-width: 960px){
  .country__head {
    flex-direction: column;
  }

  .country__desc {
    width: 100%;
  }

  .country__cover {
    width: 100%;
    padding-inline: 20px;
  }
}